{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true,
    "webextensions": true
  },
  "globals": {
    "VERSION": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "prettier/@typescript-eslint"
  ],
  "plugins": ["jest", "lodash", "react"],
  "rules": {
    "@typescript-eslint/prefer-optional-chain": "error",
    "curly": "error",
    "eqeqeq": "error",
    "lodash/import-scope": "error",
    "prefer-template": "error",
    "spaced-comment": "error",
    "no-unused-vars": "error",

    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/explicit-function-return-type": ["error"]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
